*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.red{
    color: red;
    background-color: rgb(59, 59, 227);
    margin: 20px;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
}

.blue{
    color: blue;
    background-color: rgb(255, 0, 0);
    margin: 20px;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
}